  .advantages-list-flex {
    display: flex;
  }
  
  .advantages-list-width {
    width: 270px;

     &:not(:last-child) {
    margin-right: 30px;
  }
  }
  
  .advantages-list-title {
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }
  
  .advantages-list-item {
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .advantages-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--secondary-bg-color);
    margin-bottom: 30px;
  }
  
  .advantages-icons-size {
    width: 70px;
    height: 70px;
  }  